*{margin: 0; padding: 0;}

/* font-family: "Bebas Neue", sans-serif;
font-family: "Noto Sans", sans-serif; */

li{list-style: none;}
a{text-decoration: none; color: #333; display: block;}

body{font-family: "Noto Sans", sans-serif;}
.container{margin: 0 40px;}
.tit{
    font-family: "Bebas Neue", sans-serif; 
    color: #E0901A;
    font-size: 40px;
}
/* canvas */
.canvas-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}
#canvas3d {
    width: 100%;
    height: 100%;
}

/* header */
header{margin-top: 30px; padding: 0 30px;}

.header_wrap{
    display: flex; 
    justify-content: space-between; align-items: center;
}

header .menu{
    display: flex;
    gap: 70px;
}
header .menu li{}

header .icon ul{display: flex; gap: 30px;}
header .icon ul li{}

/* main */
main{margin-top: 110px;}

/* sec1 */
.sec1{height: 80vh;}
.textbox{
    padding-left: 40px;
    width: 502px;
}
.textbox .tit{}
.textbox .txt{
    padding-top: 4px;
    padding-bottom: 3px;
    line-height: 22px;
}
.textbox .evt{
    font-weight: bold;
}
.textbox .evt i{}

.txtAni{
    position: absolute;
    overflow: hidden;
    margin-top: 161px;
    z-index: -100;
}
.txtAni .txt_ani{
    font-size: 150px;
    white-space: nowrap;
    color: #F5D490;
    opacity: 63%;
    font-weight: bold;
    animation: txtAni 10s linear infinite;
}

@keyframes txtAni{
    0%{transform: translateX(0);}
    100%{transform: translateX(-50%);}
}

/* sec2 */
.sec2{position: relative; margin-top: 230px; height: 100vh;}

.tit2{position: absolute; top: 0; right: 40px;}
.txt1{padding-top: 180px; width: 230px; padding-left: 193px; text-align: right;}
.txt2{position: absolute; top: 425px; right: 40px; width: 279px;}
.sec2 .txtBox{
    position: absolute; top: 695px; left: 50%;
    transform: translateX(-50%);
    display: flex; flex-direction: column; align-items: center;
}
.sec2 .txtBox .txt3{}
.sec2 .txtBox span{font-weight: bold; color: #E0901A;}

/* sec3 */
.sec3{position: relative; height: 100vh;}
.sec3 .yel{color: #e0901a;}
.sec3 p{font-weight: bold;}
.sec3 .textBox{
    position: absolute; top: 185px; left: 109px; width: 212px;
    text-align: right;
}
.sec3 .textBox2{position: absolute; top: 490px; right: 109px; width: 231px;}